<div class="container">	
  <h1>{{tile.title}}</h1>
  <h5>{{tile.date}}</h5>
  <div class ="imagen">
    <img src="{{tile.img}}">
  </div>
  <p>The fourth release of OOCRAN solved multiple bugs and introduce the following features:</p>
  <ul>
	<li> Improve the PoPs management.
	<li> Introduce new tools to manege the UEs of the scenario.</li>
	<li> Introduce tools to create advance wireless infrastructures.</li>
	<li> Manage several PoPs from different providers (AWS, Google Cloud, Azure...).</li>
	<li> Improve the creation/manage of the VNF.</li>
	<li> Allows to create multi alerts and multiple schedulers.</li>
	<li> Improve the GUI experience specially the Google Maps APIs.</li>
  </ul>
  <p>Check it on the oficcial github account! https://github.com/oocran/oocran</p>
</div>

