<div class="container">
  <div class="title"><h1 style="">Recent Updates</h1></div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
    <div class="blocks">
      <h1><img src="../assets/images/icon_news3.png"> News</h1>
        <div >
          <a routerLink="/news/0"><h3>OOCRAN Fourth release!</h3></a>
          <h4>October 30, 2017</h4>
        </div>
        <div >
          <a routerLink="/news/1"><h3>OOCRAN Thrid release!</h3></a>
          <h4>August 13, 2017</h4>
        </div>
        <div >
          <a routerLink="/news/2"><h3>OOCRAN Second release!</h3></a>
          <h4>May 12, 2017</h4>
        </div>
    </div>
    <div class="blocks">
      <h1><img src="../assets/images/icon_downloads2.png"> Downloads</h1>
        <div >
          <a routerLink="downloads"><h3>Release 4</h3></a>
          <h4>October 30, 2017</h4>
        </div>
        <div >
          <a routerLink="downloads"><h3>Release 3</h3></a>
          <h4>August 13, 2017</h4>
        </div>
        <div >
          <a routerLink="downloads"><h3>Release 2</h3></a>
          <h4>May 12, 2017</h4>
        </div>
    </div>
    <div class="blocks">
      <h1><img src="../assets/images/icon_milestones2.png"> Milestones</h1>
        <div>
          <h3><a href="https://trello.com/b/LRjh0hs3/oocran">PoP Selection</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
        <div>
          <h3><a href="https://trello.com/b/LRjh0hs3/oocran">Improve GUI</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
        <div>
          <h3><a href="https://trello.com/b/LRjh0hs3/oocran">MultiBands</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
        <div>
          <h3><a href="https://trello.com/b/LRjh0hs3/oocran">Nix package</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
    </div>
    <div class="blocks">
      <h1><img src="../assets/images/icon_wiki2.png"> Wiki</h1>
        <div>
          <h3><a href="https://github.com/oocran/oocran/wiki/Alert">Alerts</a></h3>
          <h4>August, 12, 2017</h4>
        </div>
        <div>
          <h3><a href="https://github.com/oocran/oocran/wiki/Schedulers">Schedulers</a></h3>
          <h4>August, 12, 2017</h4>
        <div>
          <h3><a href="https://github.com/oocran/oocran/wiki/BBU-Pool">BBU Pool</a></h3>
          <h4>May, 12, 2017</h4>
        </div>
        <div>
          <h3><a href="https://github.com/oocran/oocran/wiki/Grafana-template">Grafana</a></h3>
          <h4>May, 12, 2017</h4>
        </div>  
      </div>
    </div>
  </div>
</div>