<div class="container">	
  <h1>{{tile.title}}</h1>
  <h5>{{tile.date}}</h5>
  <div class ="imagen">
    <img src="{{tile.img}}">
  </div>
  <p>OOCRAN Release 1 is availiable!</p>

  <p>This version is focus on the adminstration of the Network Virtual Function Infrastructures of a single user. Which OOCRAN make the PoP selection and central frequency assigment avoid interfarence between cells.</p>

  <p>The features of this release are:</p>
  <ul>
	<li> Computational Resources and Radio Spectrum Sharing.</li>
	<li> Interference Avoide.</li>
	<li> NVFI management for service providers.</li>
	<li> Easy Infrastructure management for infratustructe providers.</li>
	<li> Multi VIM supported.</li>
	<li> LTE transmission use case.</li>
	<li> VNF Descriptor APIs.</li>
	<li> Graphical User Interface (Dashboard) for the NVFI orchestrator.</li>
	<li> OSS/BBS implementation.</li>
  </ul>
  <p>The source code is availiable on Downloads section and on the Github OOCRAN repository.</p>
</div>

