<div class="container">	
  <h1>{{tile.title}}</h1>
  <h5>{{tile.date}}</h5>
  <div class ="imagen">
    <img src="{{tile.img}}">
  </div>
  <p>The third release introduce the following features:</p>
  <ul>
	<li> RRH can be shared between operators.</li>
	<li> Allows to create virtual communication chains.</li>
	<li> Manage several VIMs from different providers.</li>
	<li> Introduce more provisioning methodologies.</li>
	<li> Allows to create Pools with different providers at the same time.</li>
	<li>Improve the creation of the VNFs.</li>
	<li> Allows to create alerts.</li>
	<li> Improve the GUI experience.</li>
  </ul>
</div>

