<div class="container">
	<div fxLayout="row" fxLayoutAlign="space-around center" class="content">
		<div class="blocks">
			<h2>Spectrum Sharing</h2>
			<i style="font-size: 80px" class="fa fa-wifi" aria-hidden="true"></i>
			<h4>Manage radio spectrum as another resource pool.</h4>
		</div>
		<div class="blocks">
			<h2>Automate Workflows</h2>
			<i style="font-size: 80px" class="fa fa-calendar-o" aria-hidden="true"></i>
			<h4>Orchestrate Network Services automatically through schedulers.</h4>
		</div>
		<div class="blocks">
			<h2>Cost Management</h2>
			<i style="font-size: 80px" class="fa fa-line-chart" aria-hidden="true"></i>
			<h4>Administrate the cost and usage of your Network Services.</h4>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-around center" class="content">
		<div class="blocks">
			<h2>Extensibility</h2>
			<i style="font-size: 80px" class="fa fa-users" aria-hidden="true"></i>
			<h4>OOCRAN can be easily extended supporting additional use cases.</h4>
		</div>
		<div class="blocks">
			<h2>Open Community</h2>
			<i style="font-size: 80px" class="fa fa-users" aria-hidden="true"></i>
			<h4>Participate in the development, fork us on github.</h4>
		</div>
		<div class="blocks">
			<h2>Open Source</h2>
			<i style="font-size: 80px" class="fa fa-github-square" aria-hidden="true"></i>
			<h4>OOCRAN code has been developed under the Apache2 license.</h4>
		</div>
	</div>
</div>