<div class="container">	
  <h1>{{tile.title}}</h1>
  <h5>{{tile.date}}</h5>
  <div class ="imagen">
    <img src="{{tile.img}}">
  </div>
  <p>The second release introduce the following features:
  <ul>
	<li> Storage catalogs of libraries and Network Functions.</li>
	<li> RRH can work in several bands with different bandwidth.</li>
	<li> Allows to create virtual communication chains.</li>
	<li> Manage severals VIMs.</li>
	<li> Incorporate examples for transmit using a USRP drivers.</li>
	<li> Allows to monitor Network Functions resources.</li>
	<li> Allows tp create queues and schedulers.</li>
	<li> New examples as: libraries, bbu pools, etc</li>
	<li> Improve the GUI experience.</li>
  </ul>
  <p>The source code is availiable on Downloads section and on the Github OOCRAN repository.</p>
  <p>Check the Wiki for more information about it. </p>
</div>

