<div class="container">
	<div fxLayout="row" fxLayoutAlign="space-around center" class="content">
		<div class="blocks">
			<h2>Orchestration</h2>
			<img src="../assets/images/management.png">
			<h4>Automate the provisioning and configuration of NS through schedulers.</h4>
		</div>
		<div class="blocks">
			<h2>Resources Pool</h2>
			<img src="../assets/images/resourcesPool.png">
			<h4>Manage the computational and IT resources in pools.</h4>
		</div>
		<div class="blocks">
			<h2>Management</h2>
			<img src="../assets/images/management.png">
			<h4>Administrate the virtual infrastructure throught schedulers and alarms.</h4>
		</div>
	</div>
</div>