<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
    <div class="blocks">
      <iframe width="620" height="450" src="https://www.youtube.com/embed/cccJO4w3CXY"></iframe>
    </div>
    <div class="blocks">
      <h1>TestBed</h1>
      <h3>Check the OOCRAN funcionalities:</h3>
      <ul style="font-size:20px;text-align: left">
        <li>Schedulers</li>
        <li>Alarms</li>
        <li>EMS</li>
        <li>Script Cataleg</li>
        <li>Network Functions</li>
        <li>Network Services</li>
        <li>NVF data collection</li>
        <li>Orchestration</li>
        <li>Spectrum and computation sharing</li>
      </ul>
    </div>
  </div>
</div>